/* .cal {
  size: 30px;
  background-color: #ecf39e;
  padding: 60px 60px;
  border-radius: 20px 200px;
}
button {
  padding: 20px 20px;
  margin: 10px;
  color: #90a955;
  background-color: #ccc5b9;
  border-radius: 10px 30px;
  font-size: 30px;
  border: none;
}
input {
  padding: 25px 20px;
  font-size: 20px;
  color: #2ec4b6;
  border: none;
  background-color: #132a13;
  text-align: center;
  border-radius: 10px 50px;
} */
